body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1251px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:159px;
  width:311px;
  height:530px;
}
#u5704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:51px;
  width:1171px;
  height:90px;
}
#u5706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u5706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u5707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:195px;
  height:30px;
}
#u5707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u5708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u5709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5709 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:0px;
  width:195px;
  height:30px;
}
#u5709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5710 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:195px;
  height:30px;
}
#u5710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5711 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:0px;
  width:196px;
  height:30px;
}
#u5711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u5712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u5713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5713 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:30px;
  width:195px;
  height:30px;
}
#u5713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:30px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u5714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u5715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:30px;
  width:195px;
  height:30px;
}
#u5715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:30px;
  width:195px;
  height:30px;
}
#u5716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:30px;
  width:196px;
  height:30px;
}
#u5717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:195px;
  height:30px;
}
#u5718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:60px;
  width:195px;
  height:30px;
}
#u5719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:60px;
  width:195px;
  height:30px;
}
#u5720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:60px;
  width:195px;
  height:30px;
}
#u5721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:60px;
  width:195px;
  height:30px;
}
#u5722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:60px;
  width:196px;
  height:30px;
}
#u5723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:176px;
  width:274px;
  height:496px;
}
#u5724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u5725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:159px;
  width:842px;
  height:530px;
}
#u5725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:530px;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:159px;
  width:842px;
  height:530px;
}
#u5726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
