body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1251px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12799 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:159px;
  width:311px;
  height:530px;
}
#u12799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12800 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:51px;
  width:1171px;
  height:90px;
}
#u12801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u12801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u12802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12802 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:195px;
  height:30px;
}
#u12802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12803 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u12803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u12804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12804 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:0px;
  width:195px;
  height:30px;
}
#u12804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12805 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:195px;
  height:30px;
}
#u12805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u12806 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:0px;
  width:196px;
  height:30px;
}
#u12806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u12807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u12808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12808 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:30px;
  width:195px;
  height:30px;
}
#u12808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12809 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:30px;
  width:195px;
  height:30px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
}
#u12809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u12810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12810 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:30px;
  width:195px;
  height:30px;
}
#u12810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12811 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:30px;
  width:195px;
  height:30px;
}
#u12811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u12812 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:30px;
  width:196px;
  height:30px;
}
#u12812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:195px;
  height:30px;
}
#u12813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12814 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:60px;
  width:195px;
  height:30px;
}
#u12814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12815 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:60px;
  width:195px;
  height:30px;
}
#u12815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12816 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:60px;
  width:195px;
  height:30px;
}
#u12816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u12817 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:60px;
  width:195px;
  height:30px;
}
#u12817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u12818 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:60px;
  width:196px;
  height:30px;
}
#u12818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12819 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:176px;
  width:274px;
  height:496px;
}
#u12819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u12820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12820 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:159px;
  width:842px;
  height:530px;
}
#u12820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:530px;
}
#u12821 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:159px;
  width:842px;
  height:530px;
}
#u12821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
